{% extends 'Base/base.html' %}
{% block content %}
<!-- Page Header -->
<header>
  <div> <img src="../../media/123.jpg"width="1800"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
 
    <!-- Post Content -->
    <section class="about-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 about-text">
            <h3>Hello, We are Ethio-Academy</h3>
            <p>Ethio-Academy is an academy web that manly focus on the development of programming and Programmers in Ethiopia.It also gives scholarships by communicating with schools.we also announce programming job vacancy's.</p> 
            <div class="text-center ">
              <p>Programmers are in high demand in today’s growing Software Development field, almost every company is becoming more reliant on technology to function. Programs allow professionals in every industry like healthcare, business, sales, construction, graphic design, teaching, and more... </p>
              <button class="site-btn bg-primary">Read More <i class="fa fa-angle-right"></i></button>
            </div><br><br>
          </div>
        </div>
      </div>
    </section>
{% endblock %}