{% extends 'Base/base.html' %}
{% block content %}
<!-- Page Header -->
<header></header>
  <div> <img src="../../media/review-bg.jpg"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
 
    <!-- Post Content -->
    <section class="multi-search-section">
      <div class="msf-warp">
        <div class="container">
          <h5>Search your Course</h5>
          <form class="multi-search-form">
            <input type="text" placeholder="Course">
            <input type="text" placeholder="Level">
            <button class="site-btn bg-primary">Search <i class="fa fa-angle-right"></i></button>
          </form>
        </div>
      </div><br><br>
    </section>
    <section class="courses-section spad">
      <div class="container">
        <div class="sec-title text-center">
          <span>Only  the best</span>
          <h2>Our Courses</h2><br><br>
        </div>
        
        <section class="fact-section spad ">
          <div class="container">
            <nav class=" bg-primary">
          <h4>Featured</h4>
                  <h5>HTML5  for Begginers & Advanced Cours</h5>
                </nav>
                <img src="../../media/8.jpg"width=1100>
                  <p>A larger set of technologies that allows the building of more diverse and powerful Web sites and applications. This set is sometimes called HTML5 & friends and often shortened to just HTML5.</p>
                  <span><i class="flaticon-student-2"></i>20</span>
                  <span><i class="flaticon-placeholder"></i>3</span>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star i-fade"></i>
                  </div>
                  <div class="seller-info">
                    <div class="seller-pic set-bg" data-setbg="img/courses/sellers/1.jpg"></div>
                    <h6>By Sebastian Smith, <span>Italian Teacher</span></h6>
                  </div>                  

                </div>
              </div>
          </div><br><br>
          <section class="fact-section spad">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-sm-6 fact-item">
                  <nav class=" bg-primary">
                  <h5>Motion Graphics & 3D for Begginers</h5>
                  </nav>
                  <p>Motion Graphics & 3D </p><br><br><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*200Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>3</span>
                  
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">

                  <h5 class=" bg-primary">Motion Graphics & 3D Advanced Course</h5>
                  <p>Motion Graphics & 3D </p><br><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>4</span>
                
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                  <h5 class=" bg-primary">Microsoft Excel for Begginers</h5>
                  <p>Microsoft Excel </p><br><br><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>4</span>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                  <h5 class=" bg-primary">WordPress for Begginers</h5>
                  <p>WordPress </p><br><br><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*300Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>4</span>
                </div>
              </div>
            </div>
          </section><br><br>
          <section class="fact-section spad">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-sm-6 fact-item">
                  <nav class=" bg-primary">
                    <h5>Python</h5>
                  </nav>
                    <p>It has efficient high-level data structures and a simple but effective approach to object-oriented programming</p><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*200Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>3</span>
                  
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">

                  <h5 class=" bg-primary">Django</h5>
                  <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.It’s free and open source. </p>
                  <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>4</span>
                
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                  <h5 class=" bg-primary"> Photography Course for Begginers</h5>
                  <p>Photography </p><br><br><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>4</span>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                  <h5 class=" bg-primary">Laravel</h5>
                  <p>Laravel is PHP web framework,it follow's the MVC architectural pattern and based on Symfony. </p><br>
                  <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
                  <span><i class="flaticon-placeholder"></i>4</span>
                </div>
              </div>
            </div>
          </section><br><br>
          <section class="fact-section spad ">
            <div class="container">
              <nav class=" bg-primary">
                    <h5>HTML5  for Begginers & Advanced Cours</h5>
                  </nav>
                    <p>A larger set of technologies that allows the building of more diverse and powerful Web sites and applications. This set is sometimes called HTML5 & friends and often shortened to just HTML5. </p>
                    <span><i class="flaticon-student-2"></i>20</span>
                    <span><i class="flaticon-placeholder"></i>3</span>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star i-fade"></i>
                    </div>
                    <div class="seller-info">
                      <div class="seller-pic set-bg" data-setbg="img/courses/sellers/1.jpg"></div>
                      <h6>By Sebastian Smith, <span>Italian Teacher</span></h6>
                    </div>                  
  
                  </div>
                </div>
            </div><br><br>
            <div class="text-center ">
              <button class="site-btn bg-primary">Load More <i class="fa fa-angle-right"></i></button>
            </div><br><br>
        </section>
{% endblock %}