{% extends 'Base/base.html' %}
{% block content %}
<header>
  <div> <img src="../../media/review-bg.jpg"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h2></h2>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    {% for Blog in all_Blogs %}
      <div class="col-md-4">
        <h2>{{blog.title}}</h2>
        <p>{{blog.body}}</p>
        <p><a class="btn btn-secondary" href="{% url 'Blog:detail' blog.id %}" role="button">View details &raquo;</a></p>
      </div>
    {% endfor %}
    </div>
  </div> <!-- /container -->
  <section class="fact-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 fact-item">
          <nav class=" bg-primary">
          <h5>Motion Graphics & 3D for Begginers</h5>
          </nav>
          <p>Motion Graphics & 3D </p><br><br><br>
          <span><i class="flaticon-student-2"></i>Per-credit*200Br.</span><br>
          <span><i class="flaticon-placeholder"></i>3</span><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
          
        </div>
        <div class="col-lg-3 col-sm-6 fact-item">

          <h5 class=" bg-primary">Motion Graphics & 3D Advanced Course</h5>
          <p>Motion Graphics & 3D </p><br><br>
          <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
          <span><i class="flaticon-placeholder"></i>4</span><br><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
        
        </div>
        <div class="col-lg-3 col-sm-6 fact-item">
          <h5 class=" bg-primary">Microsoft Excel for Begginers</h5>
          <p>Microsoft Excel </p><br><br><br>
          <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
          <span><i class="flaticon-placeholder"></i>4</span><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
        </div>
        <div class="col-lg-3 col-sm-6 fact-item">
          <h5 class=" bg-primary">WordPress for Begginers</h5>
          <p>WordPress </p><br><br><br>
          <span><i class="flaticon-student-2"></i>Per-credit*300Br.</span><br>
          <span><i class="flaticon-placeholder"></i>4</span><br><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </section><br><br>
  <section class="fact-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 fact-item">
          <nav class=" bg-primary">
            <h5>Python</h5>
          </nav>
            <p>It has efficient high-level data structures and a simple but effective approach to object-oriented programming</p><br>
          <span><i class="flaticon-student-2"></i>Per-credit*200Br.</span><br>
          <span><i class="flaticon-placeholder"></i>3</span><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
          
        </div>
        <div class="col-lg-3 col-sm-6 fact-item">

          <h5 class=" bg-primary">Django</h5>
          <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.It’s free and open source. </p>
          <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
          
          <span><i class="flaticon-placeholder"></i>4</span><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
        
        </div>
        <div class="col-lg-3 col-sm-6 fact-item">
          <h5 class=" bg-primary"> Photography Course for Begginers</h5>
          <p>Photography </p><br><br><br>
          <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
          <span><i class="flaticon-placeholder"></i>4</span><br><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
        </div>
        <div class="col-lg-3 col-sm-6 fact-item">
          <h5 class=" bg-primary">Laravel</h5>
          <p>Laravel is PHP web framework,it follow's the MVC architectural pattern and based on Symfony. </p><br>
          <span><i class="flaticon-student-2"></i>Per-credit*100Br.</span><br>
          <span><i class="flaticon-placeholder"></i>4</span><br>
          <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </section><br><br>
  <section class="fact-section spad ">
    <div class="container">
      <nav class=" bg-primary">
            <h5>HTML5  for Begginers & Advanced Cours</h5>
          </nav>
            <p>A larger set of technologies that allows the building of more diverse and powerful Web sites and applications. This set is sometimes called HTML5 & friends and often shortened to just HTML5. </p>
            <span><i class="flaticon-student-2"></i>20</span>
            <span><i class="flaticon-placeholder"></i>3</span>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star i-fade"></i>
            </div>
            <div class="seller-info">
              <div class="seller-pic set-bg" data-setbg="img/courses/sellers/1.jpg"></div>
              <h6>By Sebastian Smith, <span>Italian Teacher</span></h6><br>
              <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterStudent:RegisterStudent' %}">Register Now</a><i class="fa fa-angle-right"></i></button>
            </div>                  

          </div>
        </div>
    </div><br><br>
    <section class="courses-section spad">
      <div class="container">
        <div class="sec-title text-center">
          <h2>Job Vaccancy</h2><br><br>
        </div>
        <section class="fact-section spad">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-sm-6 fact-item">
                <h5> Graphics designer</h5>
                <p>Company:Destan communication<br>Description: We are looking for 2 creative passionate graphics designers.(Register-Feb20)<br></p>
                <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterVaccancy:RegisterVaccancy' %}">Apply</a><i class="fa fa-angle-right"></i></button>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <h5> Digital marketer</h5>
                <p>Company:Elyal consult<br>Description: We are looking for 2 creative passionate graphics designers.(Register-Feb20)<br><br></p>
                <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterVaccancy:RegisterVaccancy' %}">Apply</a><i class="fa fa-angle-right"></i></button>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <h5>IT_EXECUTIVE</h5>
                <p>Company:School of canenus<br>Description:Taking care of school  website, maintaining our  social media pages.
                  And other IT support(Register-Feb.8)<br></p>
                <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterVaccancy:RegisterVaccancy' %}">Apply</a><i class="fa fa-angle-right"></i></button>
              </div>
              <div class="col-lg-3 col-sm-6 fact-item">
                <h5>Software Developer</h5>
                <p>Company:Personal<br>Description:I need Website and Android app developer.(Register-Feb5)<br><br><br><br></p>
                <button class="site-btn bg-primary "><a fa fa-angle-right href="{% url 'RegisterVaccancy:RegisterVaccancy' %}">Apply</a><i class="fa fa-angle-right"></i></button>
              </div>
        </section><br><br>
    <div class="text-center ">
      <button class="site-btn bg-primary">Load More <i class="fa fa-angle-right"></i></button>
    </div><br><br>
</section>
</main>

{% endblock %}
